html {
    margin: 20px 10px;
    background-color: #888888;
}

table {
    overflow: hidden;
}

table td {
    border-spacing: 0px;
    padding: 0px;
    height: 24px;
    width: 16px;
    position: relative;
}

table, tr:hover, td:hover {
    outline: thin solid black;
}

td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  outline: thin solid black;
  left: 0;
  top: -1000px;
  height: 2000px;
  width: 100%;
  z-index: -1;
}

#title {
    color: red;
}

.octagon {
    width: 16px;
    height: 16px;
    border-spacing: 0px;
    padding: 0px;
    /*animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;*/
}

@keyframes pulse {
    0% {
        transform: scale(.95, .95) rotateX(0deg) rotate(0deg);
        opacity: .95;
    }
    25% {
        transform: scale(1.05, 1.05) rotateX(10deg) rotate(-5deg);
        opacity: .85;
    }
    50% {
        transform: scale(.95, .95) rotateX(0deg) rotate(0deg);
        opacity: .95;
    }
    75% {
        transform: scale(1.05, 1.05) rotateX(-10deg) rotate(5deg);
        opacity: .85;
    }
    100% {
        transform: scale(.95, .95) rotateX(0deg) rotate(0deg);
        opacity: .95;
    }
}

/*#00ff2d icon colours green*/
/*#888888 background colour gray*/
